body {
  background-image: url("ruse.jpg");
}
* {
  margin: 0;
  box-sizing: border-box;
}
.main-text {
  font-family: "Tahoma";
  font-size: 14px;
  font-style: italic;
  color: red;
}
.secondary-text {
  font-family: "Hebar";
  font-size: 18px;
  font-style: italic;
  color: orange;
}
.bold {
  font-weight: bold;
  margin-right: 0px;
}
.italic {
  font-style: italic;
}
